body {
    background-image: url("../images/star_destroyer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#title {
    font-size: 3em;
    text-align: center;
}

.row {
    height: 165px
}

.character-box {
    width: 140px;
    height: 140px;
    border-style: solid;
    border-color: green;
    border-width: 2px;
    padding: 5px;
    float: left;
    margin: 2px;
    background-color: yellow;
}

.chosen-character {
    background-color: lightgreen;
}

.enemy {
    background-color: red;
}

.defender {
    background-color: lightslategray;
}